<section>
  <h3>Manhole Covers in the Country of <%= @country.titleize %></h3>
  <% @certain_country_array.each_with_index do |manhole_entry| %>
    <a href="/collectors/<%= manhole_entry.collector_id %>/manholecovers/<%= manhole_entry.id %>">
      <ul class="list-of-a-feature">
        <li><img src="<%= manhole_entry.manhole_url %>"></li>
      </ul>
    </a>
  <% end %>
  <div class="clear"></div>
</section>
