<section id="edit_an_entry">

    <a href="/manholecovers/<%= @manholecover.id %>"><img class="close" src="/assets/nonmanholes/close.png"></a>

    <h3 style="padding-bottom: 30px;">Update a Manhole Cover Entry?</h3>

    <%= render 'form' %>

</section>
