<div class="container">
  <h3>Manhole Covers Collected in the Year of <%= @year %></h3>
  <% @certain_year_array.each do |manhole_entry| %>
    <a href="/collectors/<%= manhole_entry.user_id %>/manholecovers/<%= manhole_entry.id %>">
      <ul class="list-of-a-feature">
        <li><img src="<%= manhole_entry.manhole_img.url(:small) %>"></li>
      </ul>
    </a>
  <% end %>
  <div class="clear"></div>
</div>
