<section id="about">
  <%= link_to image_tag("nonmanholes/close.png", :class => "close"), root_path%>
  <h3>About</h3>
  <p class="about_text">I started to take pictures of manhole covers when I took Intermediate Graphic Design with Pamela Hovland at Yale 2 years ago. For an assignment, each of the students was asked to collect a certain kind of object by taking pictures and then design a book with the collection. My choice of the object was manhole cover, and I never stopped collecting them. After about 2 years, I have a collection of about 700, from 5 countries and 12 cities. I decide it is about to make another graphic design project about them except that it is online this time.<br>
  &nbsp; &nbsp; &nbsp; &nbsp;Special thanks to <a id="laurel" class="link" href="http://laurelschwulst.com/">Laurel Schwulst</a>, my advisor for the project, and her friend <a id="jeffrey" class="link" href="http://rey.sc/">Jeffrey Scudder</a>, who offers a lot of technical help. I can&#39;t do this without them.</p>
</secton>
