<div class="container">

  <!-- close button -->
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-lg-11"></div>
    <div class="col-xs-2 col-sm-2 col-lg-1">
      <%= link_to image_tag("nonmanholes/close.png", :class => "img-responsive close"), root_path%>
    </div>
  </div>

  <div class="row">
    <h3>About</h3>
  </div>

  <div class="row"><br></div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <p>I started to take pictures of manhole covers when I took Intermediate Graphic Design with Pamela Hovland at Yale 2 years ago. For an assignment, each of the students was asked to collect a certain kind of object by taking pictures and then design a book with the collection. My choice of the object was manhole cover, and I never stopped collecting them. After about 2 years, I have a collection of about 700, from 5 countries and 12 cities. I decide it is about to make another graphic design project about them except that it is online this time.<br>
    &nbsp; &nbsp; &nbsp; &nbsp;Special thanks to <a id="laurel" class="link" href="http://laurelschwulst.com/">Laurel Schwulst</a>, my advisor for the project, and her friend <a id="jeffrey" class="link" href="http://rey.sc/">Jeffrey Scudder</a>, who offers a lot of technical help. I can&#39;t do this without them.
      </p>
    </div>
  </div>

</div>
