<section>
  <h3>Oops sorry...</h3>
  <h4 class="error-text">It seems the page you are looking for is not there. Check your address and try again, or go back to <%= link_to "homepage", root_path, :class => "underscore" %> to start again.
</section>
