<div class="container">
  <section>
    <h3>Oops sorry...</h3>
    <h4 class="error-text">There was an error processing your request. <%= mail_to "the.dis.cover.collection@gmail.com", "Contact us", cc: "yinan.e.song@gmail.com", :class => "underscore" %> to let us know, or go back to <%= link_to "homepage", root_path, :class => "underscore" %>.</h4>
  </section>
</div>
