html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("/assets/nonmanholes/bkpattern.png");
  background-repeat: repeat;
  overflow: scroll;
  font-family: 'Hammersmith One', sans-serif;
}

#container {
  overflow: hidden;
}

p {
  font-family: 'Hammersmith One', sans-serif;
  line-height: 160%;
}

h1 {
  font-size: 65px;
  width: 800px;
  padding-top: 30px;
  margin: 0px;
  position: relative;
  }

h2 {
  font-size: 50px;
  width: 800px;
  padding-bottom: -30px;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}

h3 {
  padding-top: 40px
}

section {
  width: 700px;
  margin: 100px auto;
  background-color: white;
  padding: 80px;
}

#title_wrap {
  text-align: center;
  vertical-align:middle;
  width: 800px;
  height: 250px;
  position: absolute;
  margin-top: -150px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
}

#top_line {
  height: 10px;
  width: 800px;
  background-color: black;
}

#bottom_line {
  height: 10px;
  width: 800px;
  background-color: black;
}

#menu {
  z-index: 999;
  position: fixed;
  top: 25px;
  left: 29px;
  font-family: 'Hammersmith One', sans-serif;
}

#about_box {
  display: none;
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 500px;
  height: 225px;
  background-color: white;
  border: 4px solid black;
  padding: 10px;
}

.about_text {
  font-family: 'Lato', sans-serif;
  line-height: 180%;
}

#about:hover #about_box{
    display: block;
}

#about_box_content {
    padding: 8px;
    text-align: left;
}

#shuffle {
  cursor: pointer;
}

.box {
  left: 45%;
  top:20%;
}

.item {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 200px;
  /*filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(2px 2px 2px #585858);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
  transition: transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  -ms-transition: -ms-transform .3s ease-out;
}

.item:hover {
  background: none;
  cursor: move;
  width: 300px;
  -ms-transform:scale(1.05); /* IE 9 */
  -moz-transform:scale(1.05); /* Firefox */
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -o-transform:scale(1.05); /* Opera */
  transform: scale(1.05);
  -ms-transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

.item.is-dragging {
    background: none;
    z-index: 2;
}

.item.is-positioning-post-drag{
    background: none;
    z-index: 10;
}

#notification {
  opacity: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a#laurel, a#jeffrey {
  border-bottom: 1px solid black;
}

p.meta_text {
  font-size: 15px;
  margin: -20px;
  margin-left: 3px;
  margin-top: 5px;
  width: 275px;
}

p#meta_location {
  font-size: 20px;
}

.meta_box {
  display: none;
  z-index: 999;
  background: #FFF;
  position: fixed;
  right: 2%;
  bottom: 4%;
  padding: 25px;
}

.close {
  float: right;
  position: relative;
  width: 20px;
}

.major_image {
    width: 800px;
    margin: -50px auto;
}

.related_image {
    width: 800px;
    margin: 60px auto 50px auto;
}

.big_image {
  padding-top: 60px;
  width: 550px;
  margin: 0 auto;
/*  -webkit-filter: drop-shadow(2px 2px 2px #585858);
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
}

.small_image {
  width: 200px;
  margin: 20px;
  /*-webkit-filter: drop-shadow(2px 2px 2px #585858);
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
}

.small_image:hover {
  background: none;
  cursor: pointer;
  -ms-transform:scale(1.2); /* IE 9 */
  -moz-transform:scale(1.2); /* Firefox */
  -webkit-transform:scale(1.2); /* Safari and Chrome */
  -o-transform:scale(1.2); /* Opera */
  transform: scale(1.05);
  -ms-transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}


.description {
  float: right;
  margin-right: 90px;
  margin-top: 20px;
}

p.meta_text {
  font-size: 15px;
  margin: -20px;
  margin-left: 3px;
  margin-top: 5px;
  width: 275px;
}

.description a:hover {
  border-bottom: 1px solid #000;
}

p#meta_location {
        font-size: 24px;
}

#divider {
  width: 750px;
  height: 2px;
  background-color: #000;
  margin: 500px 10px 20px -23px;
}

.meta_content {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

#menu_right {
  position: fixed;
  right: 25px;
  top: 12px;
  padding: 16px 10px;
  z-index: 999;
}

#related_image_part {
  position: relative;
  margin-top: -195px;
}

.choice {
  font-family: 'Lato', sans-serif;
}

#summary {
  position: fixed;
  padding-top: 21px;
  right: 112px;
  z-index: 999;
}

/*List Page Based on a Certain Feature*/
.list-of-a-feature {
  padding: 20px 18px;
  margin: 0px;
  display: block;
  float: left;
  list-style: none;
}

ul.list-of-a-feature li {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 3px;
  text-align: center;
  width: 190px;
}

ul.list-of-a-feature li:hover {
  -ms-transform:scale(1.20); /* IE 9 */
  -moz-transform:scale(1.20); /* Firefox */
  -webkit-transform:scale(1.20); /* Safari and Chrome */
  -o-transform:scale(1.20); /* Opera */
  transform: scale(1.20);
  -ms-transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

ul.list-of-a-feature img {
  height: 180px;
  padding: 5px;
}

.clear {
  clear: both;
}

/*collector wall starts*/

  #collector-wall {
    display: inline-block;
  }

  #collector-box {
    display: block;
    float: left;
    padding: 20px;
    text-align: center;
  }

  .collector-list-img {
    width: 200px;
    border-radius: 100px;
  }

  .collector-list-img:hover {
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
    transform: scale(1.05);
    -ms-transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
  }

/*collector wall ends*/

/* collector profile page starts here*/

.profile-headshot {
  width: 200px;
  border-radius: 100px;
  margin: 0 70px 0 10px;
}

/* collector profile page ends here*/

/* instagram page starts here*/

  .ig-image {
    width: 200px;
    padding: 10px;
  }

  .ig-image:hover {
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
    transform: scale(1.05);
    -ms-transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
  }

/* instagram page ends here*/
