/*Pre-boostrap Old Leftover Code Here*/

#container {
  overflow: hidden;
}


#title_wrap {
  text-align: center;
  vertical-align:middle;
  width: 800px;
  height: 250px;
  position: absolute;
  margin-top: -150px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
}

#top_line {
  height: 10px;
  width: 800px;
  background-color: black;
}

#bottom_line {
  height: 10px;
  width: 800px;
  background-color: black;
}

#menu {
  z-index: 999;
  position: fixed;
  top: 25px;
  left: 29px;
  font-family: 'Hammersmith One', sans-serif;
}

#about_box_content {
    padding: 8px;
    text-align: left;
}

#shuffle {
  cursor: pointer;
}

.box {
  left: 45%;
  top:20%;
}

#notification {
  opacity: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a#laurel, a#jeffrey {
  border-bottom: 1px solid black;
}

p.meta_text {
  font-size: 15px;
  margin: -20px;
  margin-left: 3px;
  margin-top: 5px;
  width: 275px;
}

p#meta_location {
  font-size: 20px;
}

.meta_box {
  display: none;
  z-index: 999;
  background: #FFF;
  position: fixed;
  right: 2%;
  bottom: 4%;
  padding: 25px;
}

.close {
  float: right;
  position: relative;
  width: 20px;
}

.major_image {
    width: 800px;
    margin: -50px auto;
}

.related_image {
    width: 800px;
    margin: 60px auto 50px auto;
}

.big_image {
  padding-top: 60px;
  width: 550px;
  margin: 0 auto;
/*  -webkit-filter: drop-shadow(2px 2px 2px #585858);
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
}


p#meta_location {
    font-size: 24px;
}


#related_image_part {
  position: relative;
  margin-top: -195px;
}

.choice {
  font-family: 'Lato', sans-serif;
}


/* collector profile page starts here*/

.profile-headshot {
  width: 200px;
  border-radius: 100px;
  margin: 0 70px 0 10px;
  display: inline-block;
  float:left;
}

/* collector profile page ends here*/


.collector-info-entry {
  font-family: 'Lato', sans-serif;
  margin: 0px;
}


.error-text {
  font-family: 'Lato', sans-serif;
  line-height: 180%;
}
