<section>
  <h3 style="padding-bottom: 30px;">Update Personal Information</h3>
  <%= render 'form' %>
  <br>
  <%= link_to "BACK", @collector %> | <%= link_to("DELETE", collector_path, :method => :delete) %>
</section>
