<section>
  <h3>Who Are The Collectors?</h3>
  <div id="collector-wall" style="display: inline-block;">
    <% @collectors.each do |collector| %>
      <a href="<% link_to 'Show', collector %>">
        <div id="collector-box" style="display:block; float:left; padding:20px; text-align:center;">
          <img src="<%= collector.headshot_url %>" class="collector-list-img" style="width:200px; border-radius:100px">
        </div>
      </a>
    <% end %>
    <div class="clear"></div>
  </div>
<section>
