<section>
  <%= link_to image_tag("nonmanholes/close.png", :class => "close"), root_path%>
  <h3>Who Are The Collectors?</h3>
  <div id="collector-wall">
    <% @collectors.each do |collector| %>
      <a href="<% link_to 'Show', collector %>">
        <div id="collector-box">
          <img class="collector-list-img" src="<%= collector.headshot_url %>">
        </div>
      </a>
    <% end %>
    <div class="clear"></div>
  </div>
<section>
